.courseMain {
    margin-top: var(--main-box-margin-top);
    overflow: scroll;
    height: var(--course-main-height);
}

.courseHeader {
    background-color: var(--box1Level-bg-color);
    padding: var(--course-text-padding);
    border-radius: var(--course-text-radius);
    font-size: var(--course-title-font-size);
    height: var(--course-header-height);
    display: flex;
    justify-content: space-between;
}

.courseEntryHeadline {
    color: var(--color-light);
    font-size: var(--course-headline-font-size);
    padding: var(--course-text-padding);
}

.courseEntryText {
    background-color: var(--box2Level-bg-color);
    font-size: var(--course-text-font-size);
    padding: var(--course-text-padding);
    border-radius: var(--course-text-radius);
    margin-top: var(--course-text-margin-top);
}

.courseEntryCard {
    background-color: var(--color-dark);
    padding: var(--course-text-padding);
    width: fit-content;
    border-radius: var(--course-text-radius);
    font-size: var(--course-card-font-size);
    margin-top: calc(var(--course-text-margin-top) * 3);
    cursor: pointer;
}

.courseEntryCard:hover {
    background-color: var(--color-light);
}

.courseCardIMG {
    height: var(--course-card-img);
    margin-right: var(--course-card-img-margin-right);
}

.courseButtonEdit {
    background-color: var(--color-dark);
    height: var(--course-edit-button-height);
    width: var(--course-edit-button-width);
    margin: var(--course-edit-button-margin);
    border-radius: var(--course-edit-button-radius);
    cursor: pointer;
}

.courseButtonEdit:hover {
    background-color: var(--color-light);
}

.courseButtonEdit > img {
    width: 80%;
    height: 80%;
    position: relative;
    left: 52%;
    top: 48%;
    transform: translate(-50%, -50%);
}

.courseMessage {
    color: var(--color-dark);
    font-size: var(--course-text-font-size);
    padding: var(--course-text-padding);
    border-radius: var(--course-text-radius);
    margin-top: var(--course-text-margin-top);
}