:root {
    --font-family: Inter;

    --font-color-normal: white;
    --font-color-link: #4ECDC4;
    --font-color-hover: #33575A;

    --main-bg-color: #292F36;
    --header-bg-color: #1E1E1E;

    --box1Level-bg-color: #252B31;
    --box2Level-bg-color: #1E1E1E;

    --boxInfo1Level-bg-color: #2E4348;
    --boxInfo2Level-bg-color: #33575A;

    --button-bg-color: #4ECDC4;
    --input-bg-color: #1E1E1E;

    --header-height: 7vh;
    --header-heigh-font: 3.5vh;
    --header-height-font-link: 2.5vh;
    --header-height-padding: 1vh;
    --header-height-font-link-padding: 1vh;

    --header-button-min-width: 8vw;
    --header-button-height: 4vh;
    --header-button-radius: 0.5vh;
    --header-button-margin: 0.5vh;
    --header-button-padding: 0.75vh;
    --header-button-font-size: 2vh;

    --auth-box-width: 50vw;
    --auth-box-height: auto;
    --auth-box-radius: 2vh;
    --auth-box-padding: 6vh;
    --auth-title-font-size: 4.5vh;
    --auth-label-font-size: 2.5vh;
    --auth-input-font-size: 2.5vh;
    --auth-input-padding: 1.5vh;
    --auth-input-radius: 1vh;

}

@font-face {
    font-family: Inter;
    src: url(../../public/Inter-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: Inter;
}

p, a, h1, h2, h3 {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--main-bg-color);
    color: var(--font-color-normal);
    overflow-y: hidden;
}