:root {
    --font-family: Inter;

    --color-normal: white;
    --color-light: #4ECDC4;
    --color-dark: #33575A;
    --color-red: #ff0000;

    --main-bg-color: #292F36;
    --header-bg-color: #1E1E1E;

    --box1Level-bg-color: #252B31;
    --box2Level-bg-color: #1E1E1E;

    --boxInfo1Level-bg-color: #2E4348;
    --boxInfo2Level-bg-color: #33575A;

    --button-bg-color: #4ECDC4;
    --input-bg-color: #1E1E1E;
    --button-join-font-size: 3.5vh;
    --button-join-padding: 1vh 1vw 1vh 1vw;
    --button-join-radius: 1vh;

    --error-box-width: 55vw;
    --error-box-height: 40vh;
    --error-box-radius: 1vh;
    --error-box-padding: 2vh 2vw 2vh 2vw;
    --error-box-font-size: 3.2vh;

    --header-height: 7vh;
    --header-heigh-font: 3.5vh;
    --header-height-font-link: 2.5vh;
    --header-height-padding: 1vh;
    --header-height-font-link-padding: 1vh;

    --header-button-min-width: 8vw;
    --header-button-height: 4vh;
    --header-button-radius: 0.5vh;
    --header-button-margin: 0.5vh;
    --header-button-padding: 0.75vh;
    --header-button-font-size: 2vh;
    --header-button-account-img: 2.5vh;
    --header-button-account-min-width: 14vw;

    --auth-box-width: 50vw;
    --auth-box-height: auto;
    --auth-box-radius: 2vh;
    --auth-box-padding: 6vh;
    --auth-title-font-size: 5vh;
    --auth-label-font-size: 2.2vh;
    --auth-input-font-size: 2.2vh;
    --auth-input-padding: 1.5vh;
    --auth-input-radius: 1vh;

    --courseNav-box-width: 18vw;
    --courseNav-box-height: 89vh;
    --courseNav-box-find-height: 17vh;
    --courseNav-box-list-height: 70vh;
    --courseNav-box-margin: 2vh 1vw 2vh 1vw;
    --courseNav-box-padding: 1vw;
    --courseNav-box-radius: 1vw;
    --courseNav-title-font-size: 2.2vh;
    --courseNav-font-size: 2.2vh;
    --courseNav-entry-margin: 0.5vh;
    --courseNav-entry-padding: 0.5vh;
    --courseNav-entry-radius: 0.6vh;

    --main-box-width: 75vw;
    --main-box-margin-top: 0.5vh;

    --dash-header-font-size: 5vh;
    --dash-header-height: 8vh;
    --dash-main-height: 79vh;
    --dash-course-box-width: 35vw;
    --dash-course-box-height: 30vh;
    --dash-course-box-radius: 1vw;
    --dash-course-box-padding: 1vh 1vw 1vh 1vw;
    --dash-course-title-font-size: 5vh;
    --dash-course-info-font-size: 2.2vh;
    --dash-course-info-padding: 0.5vh;
    --dash-course-margin: 2vh 0vw 2vh 0vw;
    --dash-course-button-margin-bottom: 1vh;

    --course-title-font-size: 3vh;
    --course-header-height: 21vh;
    --course-header-note-box-height: calc(var(--course-title-font-size) + 1.4vh);
    --course-header-infos-width: 65vw;
    --course-header-buttons-width: 10vw;
    --course-header-public-input-size: 2.1vh;
    --course-header-public-input-margin: 0.6vw;
    --course-edit-button-height: 6vh;
    --course-edit-button-width: 6vh;
    --course-edit-button-radius: 1vh;
    --course-edit-button-margin: 0.5vh 0vw 0vh 1vw;
    --course-button-padding: 1.25vh 1vw 1.25vh 1vw;
    --course-main-height: 69vh;
    --course-headline-font-size: 4vh;
    --course-text-font-size: 2.2vh;
    --course-card-font-size: 3vh;
    --course-text-padding: 1vh 1vw 1vh 1vw;
    --course-headline-margin: 1.5vh 0vw 1vh 0vw;
    --course-text-radius: 1vw;
    --course-card-input-radius: 0.5vw;
    --course-text-margin-top: 0.8vh;
    --course-card-img: 2.8vh;
    --course-card-img-margin-right: 1.2vh;
    --course-new-course-font-size: 2.2vh;
    --course-save-margin-left: 1.5vw;
    --course-entry-delete-width: 2vw;
}

@font-face {
    font-family: Inter;
    src: url(../../public/Inter-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: Inter;
}

p, a, h1, h2, h3 {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--main-bg-color);
    color: var(--color-normal);
    overflow: hidden;
}

.main {
    width: 100vw;
    display: flex;
    gap: 2.5vw;
}

.mainBox {
    width: var(--main-box-width);
    margin-top: var(--main-box-margin-top);
}

.buttonAction {
    color: var(--color-light);
    cursor: pointer;
}

.buttonAction:hover {
    color: var(--color-dark)
}

.errorBox {
    width: var(--error-box-width);
    height: var(--error-box-height);
    background-color: var(--box1Level-bg-color);
    padding: var(--error-box-padding);
    border-radius: var(--error-box-radius);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--error-box-font-size);
}

.errorMessage {
    color: var(--color-light);
}

.buttonJoin {
    background-color: var(--color-dark);
    color: white;
    font-size: var(--button-join-font-size);
    padding: var(--button-join-padding);
    width: fit-content;
    border-radius: var(--button-join-radius);
    cursor: pointer;
}

.flexbox {
    display: flex;
}

.flexboxVertical {
    display: flex;
    flex-direction: column;
}

.flexboxJustifyCenterVertical {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.width100Box {
    width: 100%;
}

.heightFitContent {
    height: fit-content;
}

.displayNone {
    display: none;
}

.fadeOutClass {
    animation: fadeOut 1.5s ease;
    opacity: 0;
}

@keyframes fadeOut {
    30% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
}