:root {
    --font-family: Inter;

    --font-color-normal: white;
    --font-color-link: #4ECDC4;
    --font-color-hover: #33575A;

    --main-bg-color: #292F36;
    --header-bg-color: #1E1E1E;

    --box1Level-bg-color: #252B31;
    --box2Level-bg-color: #1E1E1E;

    --boxInfo1Level-bg-color: #2E4348;
    --boxInfo2Level-bg-color: #33575A;

    --button-bg-color: #4ECDC4;
    --input-bg-color: #1E1E1E;

    --header-height: 7vh;
    --header-heigh-font: 3.5vh;
    --header-height-font-link: 2.5vh;
    --header-height-padding: 1vh;
    --header-height-font-link-padding: 1vh;

    --header-button-min-width: 8vw;
    --header-button-height: 4vh;
    --header-button-radius: 0.5vh;
    --header-button-margin: 0.5vh;
    --header-button-padding: 0.75vh;
    --header-button-font-size: 2vh;
    --header-button-account-img: 2.5vh;
    --header-button-account-min-width: 14vw;

    --auth-box-width: 50vw;
    --auth-box-height: auto;
    --auth-box-radius: 2vh;
    --auth-box-padding: 6vh;
    --auth-title-font-size: 4.5vh;
    --auth-label-font-size: 2.5vh;
    --auth-input-font-size: 2.5vh;
    --auth-input-padding: 1.5vh;
    --auth-input-radius: 1vh;

    --courseNav-box-width: 18vw;
    --courseNav-box-height: 89vh;
    --courseNav-box-margin: 2vh 1vw 2vh 1vw;
    --courseNav-box-padding: 1vw;
    --courseNav-box-radius: 1vw;
    --courseNav-title-font-size: 2vh;
    --courseNav-font-size: 2vh;
    --courseNav-entry-margin: 0.5vh;
    --courseNav-entry-padding: 0.5vh;
    --courseNav-entry-radius: 0.6vh;

    --main-box-width: 75vw;
    --main-box-margin-top: 2vh;

    --dash-course-box-width: 35vw;
    --dash-course-box-height: 30vh;
    --dash-course-box-radius: 1vw;
    --dash-course-box-padding: 1vh 1vw 1vh 1vw;
    --dash-course-title-font-size: 5vh;
    --dash-course-info-font-size: 2.2vh;
    --dash-course-info-padding: 0.5vh;
}

@font-face {
    font-family: Inter;
    src: url(../../public/Inter-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: Inter;
}

p, a, h1, h2, h3 {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--main-bg-color);
    color: var(--font-color-normal);
    overflow-y: hidden;
}

.main {
    width: 100vw;
    display: flex;
    gap: 2.5vw;
}

.mainBox {
    width: var(--main-box-width);
    margin-top: var(--main-box-margin-top);
}